*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tex.backup
*.snm
*.nav
*.dot
*.vrb
*.o
*.d
*.*~
*~
*/bin*/**
**/html/**
**/latex/**
**/figures/*.pdf
adse/experiments/*
*.classpath
*.project
*.setting
**/.metadata/*
**/.settings/*
**/.recommenders/*
